<!doctype html>

<html>
  <head>
  <script>
	function show_loading() {
		document.getElementById("loading").style.display = "block";
		document.getElementById("content").style.display = "none";
	}
  </script>

	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
    <title>Failed</title>
  </head>
  
  <body>
	<div id="loading" style="display: none;">
		<p> Analysing... Wait a few seconds... </p>
		<div class="loader"></div>
	</div>
    <div id="content">
		<h1>Failed</h1>
		
		<p> Try another file... </p>
		<form method="POST" action="/" enctype="multipart/form-data">
		<button type="submit" name="action_home" value="HOME">
			<p>Home Page</p>
		</button>
		</form>
		
		<p>{{data[0]}}</p>
		<p>Analysis attempted:</p>
		<img src="{{ data[2] }}">
		<br>

		
		<br>
		<!--
		<form method="POST" action="" enctype="multipart/form-data">
		  <p><input type="file" name="file"></p>
		  <p><input type="submit" value="Submit" onclick="show_loading();"></p>
		</form>
		-->
		
		
		<p>File used last time: </p>
		<img src="{{data[1]}}" style="width: 450px; height: auto;">
	</div>
  </body>
</html>